main {
  padding: 50px;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  background: linear-gradient(90deg, #d32000 1.18%, #d35d26 100%);
  display: flex;
  align-items: center;
  height: 65px;
  color: #FFF;
  padding: 20px 50px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.5rem;
  margin-right: auto;
}

.header--project {
  font-size: 1rem;
}

.form {
  display: grid;
  /* have two 40px rows with two evenly divided column */
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid grey;
  text-indent: 5px;
}

.form--button {
  /* so the button fill up all two columns */
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #d32000 1.18%, #d35d26 100%);
  color: #FFF;
  border: none;
  cursor: pointer;
}


.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  margin-top: 15px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}